<!-- ======= About Section ======= -->
<section id="about" class="about section-bg">
    <div class="container" data-aos="fade-up">
      <header class="section-header"> 
        <p>Votre domiciliation d’entreprise</p>
      </header>
      
      <div class="row">
        <div class="col-lg-6" data-aos="fade-right" data-aos-delay="100">
          <img src="assets/img/about.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 content d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="100" style="background-color: white;">        
          <ul>
            <li>
              <div>

                <h5 style="color: #F88777;"><img src="../../../assets/img/icon-image/acm1.png" class="petit">
                  Domiciliation personnalisée .</h5>
                <p>Personnalisez l'adresse de domiciliation de votre entreprise en choisissant parmi plusieurs adresses prestigieuses à Paris</p>
              </div>
            </li>
            <li>
              <div>
                <h5 style="color: #61EBB2;"> <img src="../../../assets/img/icon-image/acm2.png" class="petit">
                  Gestion du courrier simplifiée . </h5>
                <p>Gérez votre courrier en temps réel grâce à la numérisation instantanée des courriers reçus, ce qui permet une consultation à distance et une réactivité accrue pour répondre rapidement à vos correspondants</p>
              </div>
            </li>

            <li>
              
              <div>
                <h5 style="color: #FF5978;"><img src="../../../assets/img/icon-image/acm3.png" class="petit">Notifications instantanées. </h5>
                <p>Recevez des notifications en temps réel pour être informé immédiatement de l'arrivée d'un nouveau courrier et pour rester toujours connecté avec votre entreprise.</p>
              </div>
            </li> 
            <li>
              
              <div>
                <h5 style="color: #AB7DF9;"><img src="../../../assets/img/icon-image/acm4.png" class="petit">Stockage en ligne sécurisé. </h5>
                <p>Stockez en toute sécurité vos documents administratifs dans un espace de stockage en ligne sécurisé.</p>
              </div>
            </li>
          </ul>
        
        </div>
      </div>

    </div>
  </section>