
<footer id="footer" class="footer">

  <div class="footer-newsletter">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12 text-center">
          <h4>Une question ?</h4>
          <p>Nos experts en création d'entreprise sont à votre écoute.</p>
        </div>
        
        <div class="col-lg-6">
         
          <div class="text-center">
            <button class="button-style" name="button"><i class="bx bx-phone-call "></i>Appelez-nous </button>
          </div>
     
        </div>
      </div>
    </div>
  </div>

  <div class="footer-top">
    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-5 col-md-12 footer-info">
          <a href="index.html" class="logo d-flex align-items-center">
            <img src="assets/img/logo.png" alt="">
            <span>FlexStart</span>
          </a>
          <p> ACM La domiciliation commerciale d’une entreprise à Paris. 
            L'offre de services de domiciliation d'entreprise est pléthorique en France, et en particulier à Paris. La mise à disposition d'une adresse de siège social et le fait d'avoir un centre de gestion et de réexpédition de courrier sont des caractéristiques séduisantes pour bon nombre d'entreprises
          </p>
          <div class="social-links mt-3">
            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Nos services</h4>
          <ul>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Domiciliation</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Création d’entreprise</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Services juridiques</a></li>
          
          </ul>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Nos guides</h4>
          <ul>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Guide de la domiciliation</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Guide de la SASU</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Guide de la SAS</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Guide de la SCI</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Guide de la SARL  </a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#">guide de la Micro-Entreprise </a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#"> guide du freelance</a></li>            
          </ul>
        </div>

        <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
          <h4>À propos </h4>
          <p>
            4 RUE LENEVEUX <br>
            Paris ,7514 <br>
            France  <br><br>
            <strong>Phone:</strong> +1 5589 55488 55<br>
            <strong>Email:</strong> info@example.com<br>
          </p>

        </div>

      </div>
    </div>
  </div>


  <app-copyright></app-copyright>
  
</footer>
