
.navbar {
    position: fixed; /* Fixe la navbar en haut de la page */
    top: 0; /* Positionne la navbar tout en haut */
    left: 0; /* Aligner à gauche */
    right: 0; /* Aligner à droite */
    z-index: 1000; /* S'assure que la navbar reste au-dessus des autres éléments */
  
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 0.5rem 1rem;
  }
  

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 0.5rem 1rem;
  }
  
  .navbar-logo {
    font-size: 1.5rem;
  }
  
  .navbar-toggler {
    display: none;
    cursor: pointer;
    /* Autres styles pour le bouton hamburger ici */
  }
  
  .navbar-menu {
    display: flex;
  }
  
  .navbar-item {
    margin-left: 1rem;
    color: white;
    text-decoration: none;
  }
  
  @media (max-width: 768px) {
    .navbar-toggler {
      display: block;
    }
  
    .navbar-menu {
      display: none;
      flex-direction: column;
      align-items: start;
      background-color: #333;
      position: absolute;
      top: 100%;
      width: 100%;
    }
  
    .navbar-menu.active {
      display: flex;
    }
  
    .navbar-item {
      margin: 0.5rem 0;
    }
  }
  