
.navbar {
    position: fixed; 
    top: 0; 
    left: 0; /* Aligner à gauche */
    right: 0; /* Aligner à droite */
    z-index: 1000; /* S'assure que la navbar reste au-dessus des autres éléments */
  
    display: flex;
    justify-content: ;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 0.5rem 1rem;
  }
  

.navbar {
    display: flex;
    align-items: center;
    background-color: white;
    color: blue;
    padding: 0.5rem 1rem;
  }
  
  .navbar-logo {
    font-size: 4rem;
  }
  
  .navbar-toggler {
    display: none;
    cursor: pointer;
    /* Autres styles pour le bouton hamburger ici */
  }
  
  .navbar-menu {
    display: flex;
  }
  
  .navbar-item {
    margin-left: 1rem;
    color: red;
    text-decoration: none;
    margin: 10px 0 0 0;
    padding: 20;
    font-size: 30px;
    line-height: 42px;
    font-weight: 700;
    color: #012970;
  }


  .join-btn{
    border: 1px solid #333;
    padding: 8px 15px;
    border-radius: 4px;
  }
  
  @media (max-width: 768px) {
    .navbar-toggler {
      display: block;
    }
  
    .navbar-menu {
      display: none;
      flex-direction: column;
      align-items: start;
      background-color: #333;
      position: absolute;
      top: 100%;
      width: 100%;
    }
  
    .navbar-menu.active {
      display: flex;
    }
  
    .navbar-item {
      margin: 2rem 0;
    }
  }
  
