
<!--section  hero-->
<section id="hero" class="hero d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 d-flex flex-column justify-content-center">
        <h1 data-aos="fade-up">Expertise en Domiciliation et Gestion de Paie pour les Entreprises</h1>
        <!--   <li class="liacm"><i class="icon-ok"></i>Une adresse prestigieuse à Paris </li>
          <li  class="liacm"><i class="icon-ok"></i>Une gestion du courrier efficace pour votre entreprise </li>
          <li  class="liacm"><i class="icon-ok"></i>Un service client sur mesure</li> -->
      </div>
      <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
        <img src="assets/img/enveloppe-bleue-plaine.jpg" class="img-fluid" alt="">
      </div>
    </div>
     </div>
    <div>
    </div>
</section>
<!--section  hero end -->


<!--section service -->


  <!-- ======= Values Section ======= -->
  <section id="values" class="values">
    <div class="container" data-aos="fade-up">
      <header class="section-header"> 
        <p>Nos services</p>
      </header>
      <div class="row">
        <div class="col-lg-3" data-aos="fade-up" data-aos-delay="200">
          <div class="box">
            <img src="../../../assets/img/icon-image/domiciliation-icon.png" class="img-fluid" alt="ACM">
            <h3>Domiciliation </h3>
<!--             <p>Donnez une adresse professionnelle à votre entreprise grâce à notre service de domiciliation commerciale. .</p>
 -->           
          </div>
        </div>
        <div class="col-lg-3 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="400">
          <div class="box">
            <img src="../../../assets/img/icon-image/formality-icon.png" class="img-fluid" alt="">
            <h3>Formalités juridiques</h3>
<!--             <p>Transfert de siège social.</p>
 -->          </div>
        </div>
        <div class="col-lg-3 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="600">
          <div class="box">
            <img src="../../../assets/img/icon-image/creation-icon.png" class="img-fluid" alt="ACM">
            <h3>Création d’entreprise.</h3>
             <!-- SASU 
             SAS
             SARL -->
<!--             <p>micro-entreprise</p>
 -->          </div>
        </div>


        <div class="col-lg-3 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="600">
          <div class="box">
            <img width="95%" src="../../../assets/img/icon-image/paie.jpg" class="img-fluid" alt="ACM">
            <h3>services de paie.</h3>
        
          </div>
        </div>
      </div>
    </div>
  </section>

<!--section service end -->




<main id="main">
   <!-- ======= Counts Section ======= -->
   <section id="counts" class="counts">
    <div class="container" data-aos="fade-up">

      <div class="row gy-4">
        <header class="section-header">
        </header>
        <div class="col-lg-12 col-md-12">
          <div class="">
            <div>
              <header class="section-header">
                <div style="align-items: center;justify-content: center;">
                  <p style="font-size: 30px; align-items: center;" class="text-center">{{ texteActuel }}</p>
                </div>
                
              </header>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End Counts Section -->
  <app-about></app-about>
  <app-avantages></app-avantages>
  <app-count></app-count>

  


<!-- End Values Section -->

 

  <!-- ======= Features Section ======= -->
  <section id="features" class="features">

    <div class="container" data-aos="fade-up">

      <header class="section-header">
 
        <p>Vous voulez créer ou gérer votre entreprise
          en toute simplicité ?</p>
      </header>

      <div class="row">

        <div class="col-lg-6">
          <video width="100%" height="auto" class="img-fluid" controls>
            <source src="../../../assets/img/vedio/acm.mp4" type="video/mp4">
            <source src="../../../assets/img/vedio/acm.ogg" type="video/ogg"> <!-- Remplacez par le chemin de votre fichier vidéo OGG si disponible -->
            Votre navigateur ne prend pas en charge la vidéo.
          </video>
        </div>
        

        <div class="col-lg-6 mt-5 mt-lg-0 ">
          <div class="row align-self-center gy-4">

            <div class="col-md-12" data-aos="zoom-out" data-aos-delay="200">
              <div class="feature-box d-flex align-items-center">
                 <img class="icon-number " src="../../../assets/img/icon-image/1.png" alt="">
                <h3>Sélectionnez votre siège social </h3>
              </div>
            </div>

            <div class="col-md-12" data-aos="zoom-out" data-aos-delay="200">
              <div class="feature-box d-flex align-items-center">
                 <img class="icon-number " src="../../../assets/img/icon-image/2.png" alt="">
                <h3>Choisissez votre option courrier </h3>
              </div>
            </div>

            <div class="col-md-12" data-aos="zoom-out" data-aos-delay="200">
              <div class="feature-box d-flex align-items-center">
                 <img class="icon-number " src="../../../assets/img/icon-image/3.png" alt="">
                <h3>Obtenez votre contrat </h3>
              </div>
            </div>

           

          </div>
        </div>

      </div> <!-- / row -->




    </div>

  </section><!-- End Features Section -->

  <!-- ======= Services Section ======= -->
  <section id="services" class="services">

    <div class="container" data-aos="fade-up">

      <header class="section-header">
      
        <p>Equipez votre domiciliation</p>
      </header>

      <div class="row gy-4">

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
          <div class="service-box blue">
            <img src="../../../assets/img/icon-image/colis.png" class="ri-discuss-line icon">
            <h3>Réception de colis</h3>
          </div>
        </div>

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
          <div class="service-box orange">
            <img src="../../../assets/img/icon-image/avantage-2.png" class="ri-discuss-line icon">
            <h3>Réecpédition journalière du courrier</h3>
          </div>
        </div>

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
          <div class="service-box green">
            <img src="../../../assets/img/icon-image/avantage-1.png" class="ri-discuss-line icon">
            <h3>Messagerie téléphonique personnaliséet</h3>
         
          </div>
        </div>

      

    
      </div>

    </div>

  </section><!-- End Services Section -->

  
  <!-- ======= F.A.Q Section ======= -->
  <section id="faq" class="faq">

    <div class="container" data-aos="fade-up">

      <header class="section-header">
        
        <p>Pourquoi choisir la domiciliation d’entreprise  ?</p>
      </header>

      <div class="row">
        <app-asks></app-asks>
        

      </div>

    </div>

  </section>


  

