  <!-- ======= Hero Section ======= -->
 
  <main id="main">
  <section id="hero" class="hero d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center">
          <h1 data-aos="fade-up" style="font-family: 'Poppins', sans-serif;">  Externalisez votre paie</h1>
          
          <h2 data-aos="fade-up" data-aos-delay="400"  style="font-family: 'Poppins', sans-serif;">ACM compagne et propose son aide aux entreprises pour tout ce qui touche aux relations humaines et aux bulletins de paie</h2>
          <div data-aos="fade-up" data-aos-delay="600">
            <div class="text-center text-lg-start">
              <ul>
                <div class="d-flex align-items-center mb-2">
                  <li>Economisez 50 jours de travail/an !</li>
                </div>
                <div class="d-flex align-items-center mb-2">
                  <li>Déchargez-vous de la DSN</li>
                </div>
                <div class="d-flex align-items-center mb-2">
                  <li>Assurez-vous de la fiabilité de la paie</li>
                </div>
              </ul>
            
             
            </div>
          </div>
        </div>
        <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
          <img src="assets/img/hero-img.png" class="img-fluid" alt="">
        </div>
      </div>

      <div class="row">
        <a href="#about"  style="width: 40%;" class="  btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
          <span>Get Started</span>
          <i class="bi bi-arrow-right"></i>
        </a>
          
      </div>
    </div>

  </section><!-- End Hero -->

 

        <!-- ======= About Section ======= -->
        <section id="about" class="about" style="margin-left: 150px;margin-right: 150px; ">

            <div class="container-fluid" style="margin: 1%;" data-aos="fade-up">
              <div class="row gx-0">
      
                <div class="col-lg-12 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
                  <div class="content">
                    <h3>ACM votre cabinet de gestion de paie</h3>
                    <h2>Vous êtes à la recherche d’un cabinet de gestion de paie compétent à qui confier les démarches administratives de votre entreprise ? </h2>
                    <p>
                        Nous sommes une équipe qualifiée à qui vous pouvez confier la gestion de paie de votre entreprise en toute sérénité.
                    </p>
                    <!--
                       <div class="text-center text-lg-start">
                      <a href="#" class="btn-read-more d-inline-flex align-items-center justify-content-center align-self-center">
                        <i class="bi bi-arrow-right"></i>
                      </a>
                    </div>

                    -->
                   
                  </div>
                </div>
                 <!--
                      <div class="col-lg-3 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
                      <img src="../../../../assets/img/icon-image/paie2.jpg" class="img-fluid" alt="">
                      </div>
      
                 -->
              
              </div>
            </div>
      
          </section><!-- End About Section -->


              <!-- ======= Values Section ======= -->
    <section id="values" class="values">

        <div class="container" data-aos="fade-up">
  
          <header class="section-header">
            <p>Pourquoi faire confiance à notre cabinet pour l'externalisation de paie ?</p>
          </header>
  
          <div class="row">
  
            <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
              <div class="box">
                <img src="../../../../assets/img/icon-image/10.png" class="img-fluid" alt="">
                <h3>10 ans d’expérience</h3>
              </div>
            </div>
  
            <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="400">
              <div class="box">
                <img  src="../../../../assets/img/icon-image/cercle.png" class="img-fluid" alt="">
                <h3>Un logiciel de paie performant</h3>
              </div>
            </div>
  
            <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="600">
              <div class="box">
                <img  src="../../../../assets/img/icon-image/disponibilie.png" class="img-fluid" alt="">
                <h3> Une disponibilité</h3>
                 
              </div>
            </div>
  
          </div>
  
        </div>
  
      </section>

       <!-- ======= Features Section ======= -->
    <section id="features" class="features">

        <div class="container" data-aos="fade-up">
          <!-- Feature Tabs -->
          <div class="row feture-tabs" data-aos="fade-up">
            <div class="col-lg-6">
              <h3>Quels sont les avantages à passer par notre  cabinet  ? </h3>
                
  
  
  
              <!-- Tab Content -->
              <div class="tab-content">
  
                <div class="tab-pane fade show active" id="tab1">
                 
                  <div class="d-flex align-items-center mb-2">
                    <i class="bi bi-check2"></i>
                    <h4>Expertise et Conformité Réglementaire </h4>
                  </div>
                  <div class="d-flex align-items-center mb-2">
                    <i class="bi bi-check2"></i>
                    <h4>Gain de Temps et d'Efficacité</h4>
                  </div>
                  <div class="d-flex align-items-center mb-2">
                    <i class="bi bi-check2"></i>
                    <h4>Réduction des Erreurs et Amélioration de la Sécurité</h4>
                  </div>
                  <div class="d-flex align-items-center mb-2">
                    <i class="bi bi-check2"></i>
                    <h4>Réduction des Erreurs et Amélioration de la Sécurité 
                    </h4>
                  </div>

                  <div class="d-flex align-items-center mb-2">
                    <i class="bi bi-check2"></i>
                    <h4>Flexibilité et Adaptabilité</h4>
                  </div>
                </div><!-- End Tab 1 Content -->
  
                <div class="tab-pane fade show" id="tab2">
                  
               


                </div>
  
                <div class="tab-pane fade show" id="tab3">
                  
                  <div class="d-flex align-items-center mb-2">
                    <i class="bi bi-check2"></i>
                    <h4>Réduction des Erreurs et Amélioration de la Sécurité :
                    </h4>
                  </div>
                  <p>Non quod totam minus repellendus autem sint velit. Rerum debitis facere soluta tenetur. Iure molestiae assumenda sunt qui inventore eligendi voluptates nisi at. Dolorem quo tempora. Quia et perferendis.</p>
                </div><!-- End Tab 3 Content -->
  
              </div>
  
            </div>
  
            <div class="col-lg-6">
              <img src="../../../../assets/img/icon-paie/paies.JPG" class="img-fluid" alt="">
            </div>
  
          </div><!-- End Feature Tabs -->
  
          <!-- Feature Icons -->
        
  
        </div>
  
      </section><!-- End Features Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
        <div class="container" data-aos="fade-up">
          <header class="section-header">
            <p>Et si on travaillait ensemble ? Le cabinet de paie, ACM c’est :</p>
          </header>
  
  
          <div class="row gy-4">
  
            <div class="col-lg-4 col-md-12">
              <div class="count-box text-center">
                
                <div class="container-box text-center">
                  <div class="icon-box text-center">
                    <img class="text-center" src="../../../../assets/img/icon-paie/nombre-ficher.webp" alt="">  
                  </div>
                  <div class="number-box text-center">{{currentNumber}}</div>
                  <div class="text-box text-center">
                    <p>bulletins de salaire réalisés</p>
                    
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-12">
              <div class="count-box">
                
                <div class="container-box">
                  <div class="icon-box">
                    <img src="../../../../assets/img/icon-paie/collaborateurs.webp" alt="">  

                  </div>
                  <div class="number-box">{{currentNumber1}}</div>
                  <div class="text-box">
                    <p>clients accompagnés</p>
                   
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-12">
              <div class="count-box">
                
                <div class="container-box">
                  <div class="icon-box">
                    <img src="../../../../assets/img/icon-paie/hands.webp" alt="">  

                  </div>
                  <div class="number-box">{{currentNumber2}}</div>
                  <div class="text-box">
                    <p>clients satisfaits de nos services</p>
                  
                  </div>
                </div>
              </div>
            </div>
  
  
          </div>
  
        </div>
      </section><!-- End Counts Section -->