<section id="values" class="values">
    <div class="container" data-aos="fade-up">
      <header class="section-header"> 
        <div style="display: flex;align-items: center;">
            <p>Les avantages clés de la domiciliation d'entreprise
            </p>
            <img src="../../../assets/img/arrow.png" alt="">
        </div>
      </header>
      <div class="row gy-4">
        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
          <div class="card testcard" >
            <h2 class="text-center" style="font-weight: bold;">Une adresse professionnelle prestigieuse</h2>
            <div>
                <p class="text">
                   <span >Une adresse professionnelle prestigieuse peut donner une image plus professionnelle et crédible à votre entreprise. Elle peut également renforcer votre image de marque et vous aider à attirer de nouveaux clients et partenaires.</span>  
                </p>
            </div>
       
          </div>
        </div>

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
          <div class="card testcard ">
            <h4  class="text-center" style="font-weight: bold;">Une gestion administrative simplifiée</h4>
            <div>
                <p>En choisissant une adresse de domiciliation, vous pouvez centraliser la réception de votre courrier professionnel et bénéficier de services complémentaires tels que la scan et la réexpédition de courrier. Cela peut simplifier la gestion administrative de votre entreprise et vous permettre de vous concentrer sur vos activités principales.</p>
            </div>
           
          </div>
        </div>

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
          <div class="card testcard ">
            <h4  class="text-center" style="font-weight: bold;">Des avantages fiscaux</h4>
            <div>
                <p>La domiciliation d'entreprise peut vous permettre de bénéficier d'avantages fiscaux en fonction de l'emplacement de votre adresse de domiciliation. Vous pouvez ainsi optimiser votre situation fiscale et réaliser des économies significatives sur vos impôts.</p>
            </div>
       
         
          </div>
        </div>

      </div>
    </div>
</section>
