<!--
<section id="counts" class="counts">
  <div class="container" data-aos="fade-up">
  
    <div class="row gy-4">

      <div class="col-lg-3 col-md-6">
        <header class="section-header" style="margin-top: 100px;">

          <p>ACM  en chiffres </p>
          <img src="../../../assets/img/plan-down (2).svg" alt="">
        </header>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="count-box" style="height: 25vh;">
          <div>
            <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>
            <h1 class="key-number">1k</h1>
            <h3>Créations d’entreprises</h3>
          </div>


        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="count-box" style="height: 25vh;">
          <div>
            <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>
            <h1 class="key-number">+2k</h1>
            <h3>
              Domiciliés</h3>
          </div>


        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="count-box" style="height: 25vh;">
          <i class="bi bi-emoji-smile"></i>
          <div>
            <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>
            <h1 class="key-number">20M</h1>
            <h3>Courriers scannés</h3>
          </div>


        </div>
      </div>

    </div>

  </div>
</section>

<End Counts Section -->
